.calculator-bottom {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $primary-secondary-background;
  color: $primary-text-blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "7 8 9 DEL"
  "4 5 6 PLUS"
  "1 2 3 MINUS"
  "DOT 0 DIV TIMES"
  "RESET RESET EQUAL EQUAL"
  ;
  grid-gap: 20px;
  padding: 20px;
}
.calculator-bottom.theme2 {
  background-color: $theme2-secondary-background;
  color: $theme2-text-white;
}
.calculator-bottom.theme3 {
  background-color: $theme3-secondary-background;
  color: $theme3-text-yellow;
}

.regular {
  cursor: pointer;
  background-color: $primary-regular-button;
  box-shadow: 2px 2px 2px $primary-regular-button-shadow;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
}
.regular.theme2 {
  background-color: $theme2-regular-button;
  box-shadow: 2px 2px 2px $theme2-regular-button-shadow;
}
.regular.theme3 {
  background-color: $theme3-regular-button;
  box-shadow: 2px 2px 2px $theme3-regular-button-shadow;
}

.secondary {
  cursor: pointer;
  background-color: $primary-secondary-button;
  box-shadow: 2px 2px 2px $primary-secondary-button-shadow;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: $primary-text-white;
}
.secondary.theme2 {
  background-color: $theme2-secondary-button;
  box-shadow: 2px 2px 2px $theme2-secondary-button-shadow;
  color: $primary-text-white;
}
.secondary.theme3 {
  background-color: $theme3-secondary-button;
  box-shadow: 2px 2px 2px $theme3-secondary-button-shadow;
  color: $primary-text-white;
}

.equal {
  cursor: pointer;
  background-color: $primary-equal-button;
  box-shadow: 2px 2px 2px $primary-equal-button-shadow;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: $primary-text-white;
  grid-area: EQUAL;
}
.equal.theme2 {
  background-color: $theme2-equal-button;
  box-shadow: 2px 2px 2px $theme2-equal-button-shadow;
  color: $theme2-text-white;
}
.equal.theme3 {
  background-color: $theme3-equal-button;
  box-shadow: 2px 2px 2px $theme3-equal-button-shadow;
  color: $theme3-text-blue;
}

.reset {
  grid-area: RESET;
}