.calculator-screen {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $primary-screen;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h1 {
    font-size: 2rem;
    margin-right: 10px;
    color: $primary-text-white;
  }
}
.calculator-screen.theme2 {
  background-color: $theme2-screen;
  h1 {
    color: $theme2-text-dark;
  }
}
.calculator-screen.theme3 {
  background-color: $theme3-screen;
  h1 {
    color: $theme3-text-yellow;
  }
}