.calculator-top {
  color: $primary-text-white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}
.calculator-top.theme2 {
  color: $theme2-text-dark;
}
.calculator-top.theme3 {
  color: $theme3-text-yellow;
}

.top-title {
  font-size: 1.8rem;
  justify-content: start;
}

.top-themes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: end;
}

.theme-select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

}

.theme-number-container {
  width: 50px;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
}

.theme-button-selecter {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $primary-secondary-background;
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
}
.theme-button-selecter.selected1 {
  justify-content: flex-start;
}
.theme-button-selecter.selected2 {
  justify-content: center;
}
.theme-button-selecter.selected3 {
  justify-content: flex-end;
}
.theme-button-selecter.theme2 {
  background-color: $theme2-secondary-background;
}
.theme-button-selecter.theme3 {
  background-color: $theme3-secondary-background;
}

.button-select {
  width: 17px;
  height: 15px;
  background-color: $primary-equal-button;
  border: 1px solid transparent;
  border-radius: 50px;
}
.button-select.theme2 {
  background-color: $theme2-equal-button;
}
.button-select.theme3 {
  background-color: $theme3-equal-button;
}