.app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(222, 26%, 31%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 4fr;
  grid-gap: 1rem;
}

// Attribution Styles
.attribution { font-size: 11px; text-align: center; margin-top: 10px; }
.attribution a { color: hsl(228, 45%, 44%); font-size: 11px; }