/* CSS reset until line 50 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #3a4764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator {
  width: 400px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: .5fr 1fr 4fr;
      grid-template-rows: .5fr 1fr 4fr;
  grid-gap: 1rem;
}

.calculator-top {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.top-title {
  font-size: 1.8rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.top-themes-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.theme-select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.theme-number-container {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.theme-button-selecter {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #232c43;
  width: 60px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-select {
  width: 20px;
  height: 15px;
  background-color: red;
  border: 1px solid red;
  border-radius: 50px;
  display: none;
}

.switch-active {
  display: block;
}

.calculator-screen {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #182034;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator-screen h1 {
  font-size: 2rem;
  margin-right: 10px;
  color: white;
}

.calculator-bottom {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #232c43;
  color: #444b5a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "7 8 9 DEL" "4 5 6 PLUS" "1 2 3 MINUS" "DOT 0 DIV TIMES" "RESET RESET EQUAL EQUAL";
  grid-gap: 20px;
  padding: 20px;
}

.regular {
  cursor: pointer;
  background-color: #eae3dc;
  -webkit-box-shadow: 2px 2px 2px #b4a597;
          box-shadow: 2px 2px 2px #b4a597;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
}

.secondary {
  cursor: pointer;
  background-color: #637097;
  -webkit-box-shadow: 2px 2px 2px #404e72;
          box-shadow: 2px 2px 2px #404e72;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

.equal {
  cursor: pointer;
  background-color: #d03f2f;
  -webkit-box-shadow: 2px 2px 2px #93261a;
          box-shadow: 2px 2px 2px #93261a;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: white;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: EQUAL;
}

.reset {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: RESET;
}
/*# sourceMappingURL=index.css.map */