/* CSS reset until line 50 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// *** Font Import / Overall Styles ***
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

* {
  font-size: 62.5%;
	box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

// *** Variables ***
// Backgrounds
$pirmary-background: hsl(222, 26%, 31%);
$theme2-background: hsl(0, 0%, 90%);
$theme3-background: hsl(268, 75%, 9%);
// Screen Colors
$primary-screen: hsl(224, 36%, 15%);
$theme2-screen: hsl(0, 0%, 93%);
$theme3-screen:hsl(268, 71%, 12%);
// Secondary Backgrounds
$primary-secondary-background: hsl(223, 31%, 20%);
$theme2-secondary-background: hsl(0, 5%, 81%);
$theme3-secondary-background: hsl(268, 71%, 12%);
// Primary Theme Buttons & Shadows
$primary-regular-button: hsl(30, 25%, 89%);
$primary-regular-button-shadow: hsl(28, 16%, 65%);
$primary-secondary-button: hsl(225, 21%, 49%);
$primary-secondary-button-shadow: hsl(224, 28%, 35%);
$primary-equal-button: hsl(6, 63%, 50%);
$primary-equal-button-shadow: hsl(6, 70%, 34%);
// Theme 2 Buttons & Shadows
$theme2-regular-button: hsl(45, 7%, 89%);
$theme2-regular-button-shadow: hsl(35, 11%, 61%);
$theme2-secondary-button: hsl(185, 42%, 37%);
$theme2-secondary-button-shadow: hsl(185, 58%, 25%);
$theme2-equal-button: hsl(25, 98%, 40%);
$theme2-equal-button-shadow: hsl(25, 99%, 27%);
// Theme 3 Buttons & Shadows
$theme3-regular-button: hsl(268, 47%, 21%);
$theme3-regular-button-shadow: hsl(290, 70%, 36%);
$theme3-secondary-button: hsl(281, 89%, 26%);
$theme3-secondary-button-shadow: hsl(285, 91%, 52%);
$theme3-equal-button: hsl(176, 100%, 44%);
$theme3-equal-button-shadow: hsl(177, 92%, 70%);
// Text Colors
$primary-text-white: hsl(0, 0, 100%);
$primary-text-blue: hsl(221, 14%, 31%);
$theme2-text-dark: hsl(60, 10%, 19%);
$theme2-text-white: hsl(0, 0, 100%);
$theme3-text-yellow: hsl(52, 100%, 62%);
$theme3-text-blue: hsl(198, 20%, 13%);
$theme3-text-white: hsl(0, 0, 100%);

// *** Component Sheet Imports ***
@import "./app";
@import "./components//CalcTop";
@import "./components//CalcScreen";
@import "./components//CalcBottom";
